# api
API_PORT_FROM=8000
API_PORT_TO=8000
API_HOST=0.0.0.0

# cors
CORS_ORIGINS='["*"]'

# database
DATABASE_DRIVER=postgresql+asyncpg
DATABASE_NAME=messenger
DATABASE_USER=username
DATABASE_PASSWORD=password
DATABASE_PORT_FROM=5432
DATABASE_PORT_TO=5433
DATABASE_HOST=database # DATABASE_HOST = name of container for database

# jwt
JWT_KEY=key
JWT_ALGORITHM=HS256
JWT_ROUNDS=10
JWT_ACCESS_TOKEN_EXPIRE=5
JWT_REFRESH_TOKEN_EXPIRE=60

# bcrypt
BCRYPT_ROUNDS=10
